# dev
pytest
pytest-asyncio
httpx
asgi-lifespan
python-multipart

# ML - DataScience
pandas
numpy
matplotlib
Pillow
torch
torchvision
torchsummary

# services
celery[pytest]
redis

# API
fastapi
pydantic
starlette
uvicorn

# db setup
databases[postgresql]
SQLAlchemy
alembic
psycopg2

# combining celery tasks and async functions
asgiref


# code formatting
black
isort

colorama

# typing
mypy
mypy-extensions
